/* ======== FONTS ======== */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

@font_weight_thin: 100;
@font_weight_light: 300;
@font_weight_regular: 400;
@font_weight_medium: 500;


/* ======== COLOR ======== */

@color_red: TOMATO;
@color_green: LIME;
@color_blue: MEDIUMSLATEBLUE;

@color_magenta: MAGENTA;

@color_link: @color_blue;
@color_link_hover: @color_red;
@color_link_target: @color_red;

@color_border_picture_user : @color_green;
@color_main_section : @color_green;


/* ======== GENERAL ======== */

* {
    box-sizing: border-box;
}

body, h1, h2, p, div, span, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

h1, h2, span {
    font-weight: @font_weight_medium;
}

p, input {
    word-break: break-all;
    font-weight: @font_weight_light;
}

a {
    text-decoration: none;
    color: @color_link;
    transition: all 0.7s ease;
}


/*=== fluid grid ===*/

.gridElementWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border: 2px solid @color_magenta;
}

.gridElementL {
	width: 97.389558232932%; /* 970 / 996 */
	margin: 0 1.305220883534%; /* 13 / 996 */
}

.gridElementM {
	width: 47.389558232932%; /* 472 / 996 */
	margin: 0 1.305220883534%; /* 13 / 996 */
    display: inline-block;
    float: left;
}

.main-content-wrapper {
    flex: 1;

    #container {
        margin-top: 50px;
    }
}



/* ======== HEADER ======== */

header {
    margin-top: 10px !important;
    margin-bottom: 50px !important;
    border : 1px solid @color_red;

    .headerTitle{
        font-size: 1.5em;
    }
}


/* ======== ASIDE ======== */

aside {
    padding: 30px 20px;
    text-align: center;
    border: 1px solid @color_blue;

    .asideText {
        text-align: left;
    }

    input {
        border-top: none;
        border-left: none;
        border-right: none;
        &:focus{
            outline: none;
        }
        &:nth-last-child(1){
            margin-bottom: 100px;
        }
    }

    & input[id="inputRoot"] {
        width: 100%;
        margin: 40px 0;
        padding: 10px 0;
        border-bottom: 5px solid black;
        font-size: 1.5em;
    }
    & input[id="processData"] {
        margin: 20px 0 30px 0;
        padding: 15px 0;
        width: 50%;
        font-size: 1.2em;
        border: none;
        border-radius: 15px;
    }
}


/* ======== MAIN CONTENT ======== */

#main-content {
    border: 1px solid @color_main_section;
    margin-bottom: 50px !important;
    padding: 30px 20px;
    #results {
        .resultsTitle {
            font-size: 1.5em;
        }

        .childResults {
            margin: 20px 0;
            border: 1px solid blue;
            &:nth-child(1) {
                margin-top: 0 !important;
            }
            &:nth-last-child(1) {
                margin-bottom: 0 !important;
            }
        }
    }
}


/* ======== FOOTER ======== */

footer {
    clear: both;
    border : 1px solid @color_red;
    font-weight: @font_weight_light;
}



/* ======== OTHERS CLASSES ======== */


/* ======== RESPONSIVENESS ======== */

@media screen and(max-width:414px){

    .gridElementWrapper {
        width: 100%;
        margin-left: 13px;
        margin-right: 13px;
    }
    .gridElementL, .gridElementM{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    header, footer {
        width: auto !important;
    }

    header {
        margin-bottom: 40px !important;
    }

    #main-content {
        width: auto;
    }
}


@media only screen and(min-width:480px) and (max-width:640px) and (orientation:landscape){}


@media screen and (max-width:768px) {

    header {
        width: auto;
    }

    .gridElementWrapper {
        width: 90%;
    }

    .gridElementM {
        float: none;
        display: block;
        width: auto;
    }

    aside {
        width: auto !important;
        margin-bottom: 66px !important;
    }

    #main-content {
        width: auto;
    }
}


@media screen and (max-width:1366px) {}


@media screen and (min-width:1420px) {
    .gridElementWrapper {
        width: 70%;
    }
}
